<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= pageTitle %></title>

  <!-- Bootstrap core CSS -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


</head>

<body id="page-top">

  <div class="container mt-5">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              Emmanuel Kimario
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="col-md-12 p-0">
            <div class="card border-none flex-md-row m-0 shadow-sm h-md-250">
              <div class="card-body  d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">nickname</strong>
                <h6 class="mb-0">
                  <a class="text-dark" href="#">Full name</a>
                </h6>
                <div class="mb-1 text-muted small">birthday date</div>
                <p class="card-text mb-auto">Description-------This is a wider card with supporting text below as a
                  natural lead-in to additional content.</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="#">Continue reading</a>
              </div>
              <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="./images/manuu.jpg"
                style="width: 230px; height: 250px;">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo">
              Emmanuel Kimario
            </button>
          </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="col-md-12 p-0">
            <div class="card border-none flex-md-row m-0 shadow-sm h-md-250">
              <div class="card-body  d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">nickname</strong>
                <h6 class="mb-0">
                  <a class="text-dark" href="#">Full name</a>
                </h6>
                <div class="mb-1 text-muted small">birthday date</div>
                <p class="card-text mb-auto">Description-------This is a wider card with supporting text below as a
                  natural lead-in to additional content.</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="#">Continue reading</a>
              </div>
              <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="./images/manuu.jpg"
                style="width: 230px; height: 250px;">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseOne">
              Emmanuel Kimario
            </button>
          </h5>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="col-md-12 p-0">
            <div class="card border-none flex-md-row m-0 shadow-sm h-md-250">
              <div class="card-body  d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">nickname</strong>
                <h6 class="mb-0">
                  <a class="text-dark" href="#">Full name</a>
                </h6>
                <div class="mb-1 text-muted small">birthday date</div>
                <p class="card-text mb-auto">Description-------This is a wider card with supporting text below as a
                  natural lead-in to additional content.</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="#">Continue reading</a>
              </div>
              <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="./images/manuu.jpg"
                style="width: 230px; height: 250px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="jquery-easing/jquery.easing.min.js"></script>

</body>

</html>